
body{
    line-height: 1.5;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
::after,::before{
    box-sizing: border-box;
}


.main-container aside{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: rgb(34, 33, 33);
    top: 0;
    left: 0;
    z-index: 10;
    letter-spacing: 1.5;
}

.logo{
    text-align: center;
    position: relative;
    top: 30px;
    font-weight: 600;
    font-size: 20px;
}
.logo a {
    color: #35E635;
}
.logo span{
    font-weight: 900;
    color: #35E635;
}
.logo a::before{
    content: " ";
    position:absolute;
    width: 40px;
    height: 20px;
    border-top: 3px solid #35E635;
    border-left: 3px solid #35E635;
    left: 20px;
    top: -10px;
}
.logo a::after{
    content: " ";
    position:absolute;
    width: 40px;
    height: 20px;
    border-bottom: 3px solid #35E635;
    border-right: 3px solid #35E635;
    right: 20px;
    bottom: -10px;
}
section{
    display: block;
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    padding: 0 30px;
    background-color: rgb(68, 68, 68);
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background-color: #35E635;
    border: none;
    border-radius: 10px;
    color: black;
}
.btn:hover
{
    color:#35E635;
    background-color: transparent;
    border: solid #35E635 2px;
}
aside ul{
    text-align: center;
    position: relative;
    top: 100px;
}

aside ul li{
    padding-top: 30px;
}

aside ul li a{
    display: block;
    margin: 5px;
    letter-spacing: 1.4;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
}
aside ul li a.active{
    color: #35E635;
}
aside ul li a:hover{
    color: #35E635;
}
aside h2{
    position: relative;
    top: 300px;
    text-align: center;
    color: #35E635;
    font-family:sans-serif;
}

/*----- home----*/
.home-section{
    min-height: 100vh;
    display: flex;
    color:aliceblue;
}
.home-section .home-info 
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 28px;
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

h3.hello span
{
    font-family: 'clicker Script', cursive;
    color: #35E635;
    font-weight: 700;
    font-family: 30px;
}

h3.my-profession
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 15px 0;
}

.typing
{
    color: #35E635;
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: rgb(216, 215, 215);
}
.home-section .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-section .home-img img
{
    height: 350px;
}

.home-section .home-img::after
{
    content: " ";
    position:absolute;
    width: 80px;
    height: 80px;
    border-top: 7px solid #35E635;
    border-left: 7px solid #35E635;
    left: 20px;
    top: -40px;
}
.home-section .home-img::before
{
    content: " ";
    position:absolute;
    width: 80px;
    height: 80px;
    border-bottom: 7px solid #35E635;
    border-right: 7px solid #35E635;
    right: 20px;
    bottom: -40px;
}

.navbar
{
    background-color: #040404;
    position: relative;
    top: 660px;
    left: 700px;
    width: 25%;
    height: 50px;
    border-radius: 10px;
    position: fixed;
}

.navbar a{
    padding: 20px;
    position: relative;
    top: 4px;
    left: 5px;
    font-size: 30px;
    width: 10px;
    color: white;
}

.navbar a:hover
{
    color: #35E635;
}


/*----about----*/
.about-section{
    min-height: 100vh;
    display: flex;
    color:aliceblue;
}

.about-section .title
{
    width: 100%;
    position: relative;
    bottom: 140px;
    font-size: 32px;
}
.about-section .title::before
{
    content: " ";
    position:absolute;
    width: 80px;
    height: 20px;
    border-bottom: #35E635 solid 10px;
    left: 5px;
    bottom: -10px;
}
.about-section .title::after
{
    content: " ";
    position:absolute;
    width: 40px;
    height: 20px;
    border-bottom: #35E635 solid 10px;
    left: 5px;
    bottom: -30px;
}


.about-section .about-text
{
    width: 50%;
    padding: 30px;
    background-color: #35E635;
    border-radius: 10px;
    opacity: 0.7;
    box-shadow: #4f4e4e 5px 5px 5px 5px;
    height: 350px;
}
.about-text h1{
    color: #d6d6d6;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    background-color: #040404;
    border-radius: 5px;
    width: 200px;
}
.about-text p
{
    color: #fffcfc;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
}
.info{
    display: flex;
    padding-top: 20px;
}
.info div{
    padding-left: 50px;
}
.info div label 
{
    color: #000000;
    font-size: 16px;
    background-color: #fffdfd;
    border-radius: 5px;
    padding: 5px;
}
.address{
    position: absolute;
    left: 234px;
}
.info div h4{
    color: #000000;
    letter-spacing: 1.3px;
    font-weight: 400;
    display: inline-block;
}

.about-image
{
    width: 30%;
    height: 350px;
    padding-left: 150px;
}

.about-image img
{
    width: 250px;
    height: 350px;
}

.about-image::after
{
    content: " ";
    position:absolute;
    width: 80px;
    height: 80px;
    border-bottom: 7px solid #35E635;
    border-right: 7px solid #35E635;
    right: 120px;
    bottom: -40px;
}

.about-image::before
{
    content: " ";
    position:absolute;
    width: 80px;
    height: 80px;
    border-top: 7px solid #35E635;
    border-left: 7px solid #35E635;
    right: 380px;
    top: 0;
}